#wrapper {
  display: flex;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


@media (min-width: 576px) {
  .d-sm-flex {
    display: flex !important;
  }
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
