.meal-modal {
  width: relative;
  height: 70rem;
}
.item-modal {
  position: relative;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
}
.meal-modal-text {
  font-size: 30px;
  color: black;
}
.card-meal-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 90rem;
  max-width: 90rem;
}
#type-form {
  text-align: right;
  margin: 25px auto;
  color: black;
  font-size: 18px;
}
